html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    text-align: center;
    margin: 0;
}

#gameCanvas {
    margin: 50px;
    border: #000000 solid 1px;
    background-color: #1b1b1b;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

#header {
    grid-area: header;
}

#banner {
    grid-area: banner;
}

#sidebar {
    grid-area: sidebar;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}


/* Main */



/* Main End */
#header{
    background-color: #000000;
}

#logo{
    float: left; 
    width: 20%; height: 100%;     
}

#logo img{
    padding-left: 20px;
    height: 9vh;
}

#footer{
    background-color: #ceced7;
    z-index: 1000;
}

#nav{
    text-align: left;
    position: relative; 
    top: 30%;
}


/* For Dropdown */
.drop{
    display: none;
    background-color: #aaaaaa;
    opacity: 0.85;
    width: auto;
    text-align: left;
}

.show {
    display: block;
}

#drop1{
    position: absolute;
    left: 34%;
    top: 150%;
    z-index: 1;   
}



.drop ul{
    list-style-type: none;
    padding-left: 10px;
}
/* Dropdown End */

#nav a{
    color: #FFFFFF; 
    padding: 10px;
    text-decoration: none;
}

#nav a:link{
    color: white; 
}

#nav a:hover{
    color: aqua;
}

#nav a:active{
    color: green;
}
